BasedOnStyle: LLVM
IncludeBlocks: Preserve
SortIncludes: false
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never

AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true

BinPackArguments: false
BinPackParameters: false

AlignEscapedNewlines: Left

AllowShortFunctionsOnASingleLine: Empty

AlwaysBreakTemplateDeclarations: MultiLine

IndentWrappedFunctionNames: false

KeepEmptyLinesAtTheStartOfBlocks: false
AlignAfterOpenBracket: Align

AlignConsecutiveMacros: true
